---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} EMO Labs. All rights reserved.
	<div class="contact-info">
		<p>Email: <a href="mailto:emolab0831@gmail.com">emolab0831@gmail.com</a></p>
		<p>GitHub: <a href="https://github.com/EMO-Labs" target="_blank">github.com/EMO-Labs</a></p>
		<p>Google Sites: <a href="https://sites.google.com/view/emo-lab" target="_blank">sites.google.com/view/emo-lab</a></p>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.contact-info {
		margin-top: 1em;
		text-align: center;
	}
	.contact-info p {
		margin: 0.5em 0;
	}
	.contact-info a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.contact-info a:hover {
		color: rgb(var(--gray-dark));
		text-decoration: underline;
	}
</style>
