---
import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import { getCollection } from 'astro:content';

const authors = await getCollection('authors');
---

<!doctype html>
<html lang="zh-Hant">
  <head>
    <BaseHead title={`作者`} description={`作者列表`} />
  </head>
  <body>
    <Header />
    <main>
      <h1>作者</h1>
      <ul>
        {authors.map(a => (
          <li><a href={`/zh/authors/${a.id}/`}>{a.data.name}</a></li>
        ))}
      </ul>
    </main>
    <Footer />
  </body>
</html>

